.feature {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @extend %reset-list;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-cl);
    margin-top: 30px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__uppertitle {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--grey-bg-cl);
  }

  &__link {
    @extend %reset-link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__icon:hover {
    stroke: var(--acent-cl);
  }
}
.feature__uppertitle:nth-child(3) {
  height: 75px;
}
